<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="TOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/wxcc-rt-routeinfo.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/wxcc-rt-routeinfo.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxFileSize>2MB</maxFileSize>
        	<maxHistory>20</maxHistory>
        	<totalSizeCap>50MB</totalSizeCap>
		</rollingPolicy>
	</appender>
	<root level="info">
		<!-- appender-ref ref="STDOUT" /-->
		<appender-ref ref="TOFILE" />
	</root>
</configuration>